<when-use-obsidian>
* 笔记的位置
    * Obsidian笔记的位置就在 ../MeoTalk 。
    * 如果mcp-obsidian写入报错的时候，直接使用本身windsurf的写入能力
* 笔记的捕获，
	* 怎么触发捕获，怎么捕获，捕获的形式
* 笔记的组织
	* 根据什么架构去组织，DDD？
	* 笔记之间怎么关联。
	* 如果我的架构变动了，AI怎么能知道需要改什么。
* 笔记怎么提炼
	* 需要固定事件定时任务做这件事（important  TBP工作区， to be process 从新到旧）
	* 怎么精简且压缩我的记录文案。
	* 多次修改且产生冗余的内容的时候如何去整理。
	* 在多次修改下，怎么能保证AI总结的程序笔记可以恰好改到我希望他覆盖的地方。
* 当你使用mcp-obsidian时，如果关联到项目代码，请使用格式 ```@{file_name}#L{start_line}-{end_line} ``` 去记录具体位置。
</when-use-obsidian>